---
api.port: 1327
registry.udp.port: 9880
etcd.address: "{{ groups['sedge_Cloud'][0] }}:2379"
solver.address: "{{ groups['sedge_Cloud'][0] }}:2500"

offloading: true
scheduler.policy: QoSAware
container.pool.memory: 3072
container.pool.cpus: 3
scheduler.queue.capacity: 1024