---
api.port: 1324
registry.udp.port: 9878
etcd.address: "{{ groups['sedge_Cloud'][0] }}:2379"
solver.address: "{{ groups['sedge_Cloud'][0] }}:2500"

offloading: true
scheduler.policy: edgecloud
container.pool.memory: 3072
container.pool.cpus: 3