---
# network settings
api.port: 1323
registry.udp.port: 9876
etcd.address: "{{ groups['sedge_Cloud'][0] }}:2379"
solver.address: "{{ groups['sedge_Cloud'][0] }}:2500"
storage.address: "http://172.17.0.1:8086"
#cloud.server.url: "http://{{ groups['sedge_Cloud'][-1] }}:1323"

# scheduling policy setting
offloading: true
scheduler.policy: minR
solver.evalinterval: 30

# resources setting
container.pool.memory: 3072
container.pool.cpus: 3

# cost and budget settings
scheduler.cloud.cost: 0.00005  # $/GBs
scheduler.local.budget: 0.25   # $/h