---
api.port: 1327
registry.udp.port: 9880
etcd.address: "{{ groups['sedge_Cloud'][0] }}:2379"
solver.address: "{{ groups['sedge_Cloud'][0] }}:2500"
#solver.evalinterval: 3

offloading: true
scheduler.policy: localonly
container.pool.memory: 3072
container.pool.cpus: 3